<div *ngIf="performance">
    <!-- Title image -->
    <img class="title-image" src="{{performance.imageUrl}}" alt="{{performance.title}} background"
         height="1080" width="1920"/>
    <!-- Title-->
    <h1 class="th-font-xl title-text">{{performance.title | uppercase}}</h1>
    <!-- Content -->

    <!-- Description-->
    <section>
        <p class="th-font-main">{{performance.description}}</p>
    </section>
    <!--Sessions-->
    <section class="sessions">
        <h2 class="th-sessions-title">{{'Sessions' | uppercase}}</h2>
        <!-- Session selection -->
        <div class="th-horizontal-table" *ngIf="sessionsSorted">
            <div *ngFor="let session of groupedSessions">
                <!-- Day -->
                <h3>{{session.date | date:['d. MMMM']}}<br/>{{session.date | date:['EEEE']}}</h3>
                <!-- Times container -->
                <div>
                    <!-- Time -->
                    <a *ngFor="let time of session.times"
                       class="th-link"
                       (click)="onSessionSelected(session.date.getTime())"
                       [routerLink]="['./' + session.date.getTime()]">
                        {{time | date:['HH:mm']}}</a>
                </div>
            </div>
        </div>
    </section>
</div>
