@import "~styles.scss";

.title-image {
  width: 100vw;
  position: fixed;
  height: 100vh;
  top: 0;
  object-fit: cover;
  z-index: -10;
}

.title-text {
  text-align: center;
  width: 100%;
  padding: 0 5vw;
  position: absolute;
  margin-top: calc(-70vh + 10vw);
}

.sessions {
  background-color: black;
  margin: 5vh -15vw 0;
  padding: 0;
  height: calc(100vh - 70px);
}