.form-date {
  text-align: left;
}

.form-time {
  text-align: right;
}

.form-time, .form-date {
  display: inline-block;
  width: 40%;
  > * {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .form-time, .form-date {
    text-align: center;
    display: block;
    width: 100%;
    > * {
      width: 80%;
    }
  }
}
