/* You can add global styles to this file, and also import other style files */

h1 {
  font-size: 22px;
  letter-spacing: 10px;
}
h2 {
  font-size: 20px;
}

h3 {
  font-size: 12px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, .95);
  font-weight: normal;
}

div.font-hint {
  font-size: 12px;
}

label {
  font-size: 15px;
  line-height: 20px;
}

body {
  font-size: 10px;
}
