<app-basic-page [menu]="true" [h]="[{label: 'Booking requests', type: 'h2'}]">
  <app-list>
    <app-panel-collapsible [collapsed]="data.orders.length > 1" *ngFor="let order of data.orders; let id = index">
      <app-drawer [active]="order.confirmed !== true && order.confirmed !== false">
        <label class="order-item light">
          <span class="oi-id truncate grey">{{id + 1}}</span>
          <span class="oi-name truncate"
                [ngClass]="order.confirmed === true ? 'green' : ''">{{order.user.name}}</span>
          <span class="oi-performance truncate grey">{{order.performance.title}}
            <span class="white">{{order.session.date | date:'dd.MM HH:mm'}}</span></span>
        </label>
      </app-drawer>
      <app-content>
        <div class="user-panel">
          <div class="section">
            <div class="light">{{order.performance.title}}</div>
            <div class="light">{{order.session.date | date:'dd.MM HH:mm'}}</div>
          </div>
          <div class="section">
            <div class="light" *ngFor="let seat of order.seats" (click)="changeSeat(seat)">Row {{seat.row}}, Seat
              {{seat.number}}
            </div>
          </div>
          <div class="section">
            <div class="light">{{order.user.name}}</div>
            <div class="light">{{order.user.contact}}</div>
          </div>
          <div class="section">
            <div class="text-center grey">{{'checkout.' + order.checkout | translate}}</div>
            <div class="text-center semibold accent">Code: BK{{order.code}}</div>
          </div>
          <app-dialog (resolve)="setOrder(order, true)" (reject)="setOrder(order, false)" [class]="'black'">
            <label>Confirm?</label>
          </app-dialog>
        </div>
      </app-content>
    </app-panel-collapsible>
  </app-list>
  <button class="footer full-width" (click)="data.saveRequests()">Save</button>
</app-basic-page>
