$z-indices: (ground: -10, shadow: -5, main: 10, overlay: 50, modal: 60, menu: 70, blocker: 90, blocker-content: 100);

@mixin z($height-value) {
  @if not map-contains($z-indices, $height-value) {
    @warn "#{$height-value} is not a known z-index type. Using main instead.";
    $height-value: main;
  }
  z-index: #{map-get($z-indices, $height-value)};
}

.z-ground {
  @include z(ground);
}

.z-shadow {
  @include z(shadow);
}

.z-main {
  @include z(main);
}

.z-overlay {
  @include z(overlay);
}

.z-modal {
  @include z(modal);
}

.z-menu {
  @include z(menu);
}

.z-blocker {
  @include z(blocker);
}

.z-blocker-content {
  @include z(blocker-content);
}
