/* Style specific element */
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow: hidden;

  font-family: mainFont;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

/* Buttons */
.th-button {
  padding: 0.3rem 1rem;
  border: none;
  color: white;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: background-color $transition-time, color $transition-time;
  -moz-transition: background-color $transition-time, color $transition-time;
  -ms-transition: background-color $transition-time, color $transition-time;
  -o-transition: background-color $transition-time, color $transition-time;
  transition: background-color $transition-time, color $transition-time;
  &:hover {
    background-color: $button-color;
  }
  &:focus {
    outline: none;
    -webkit-box-shadow: inset 0 0 15px -1px #929292;
    -moz-box-shadow: inset 0 0 15px -1px #929292;
    box-shadow: inset 0 0 15px -1px #929292;
  }
}

/* Links */
.th-link {
  color: $color-link;
  font-size: 1.4rem;
  text-decoration-line: blink;
  padding: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  &:hover {
    text-decoration: none;
    background-color: #007bff;
    color: white;
  }
}

// Style for links with image and description
.th-image-description-link {
  //position: relative;
  //padding: 15px;
  //line-height: 50px;
}

// Validation messages
.th-error * {
  color: #ab3838;
  font-weight: 600;
  padding: 5px 5px 0;
  margin: 0;
  text-align: center;
}

// Valid statuses
input.ng-valid.ng-touched {
  background-color: rgb(187, 255, 195);
  border: 1px solid rgba(8, 106, 8, 0.33);
}

input.ng-invalid.ng-touched {
  background-color: rgb(183, 132, 128);
  border: 1px solid rgba(168, 38, 28, 0.6);
}

// Table with vertical panels scrolling horizontally
.th-horizontal-table {
  background: $table-gradient;
  color: white;
  margin: 0 -#{$container-horizontal-padding} 20px;
  overflow-x: scroll;
  white-space: nowrap;
  div {
    vertical-align: top;
    display: inline-table;
    width: 100%;
    max-width: 160px;
    height: 100%;
    background-color: #0d161a;
    &.wider {
      max-width: 350px;
      div {
        max-width: 330px;
      }
    }
    h3 {
      background-color: $color-header;
      box-shadow: 0 15px 30px -15px rgba(255, 255, 255, 0.12);
      font-size: 1.4rem;
      padding: 20px;
      color: #eaeaea;
    }
    div {
      background-color: transparent;
      a {
        display: block;
        position: relative;
      }
      div {
        display: block;
        position: relative;
      }
      .th-button {
        width: calc(100% + 20px);
        margin: -5px -10px 5px;
      }
    }
  }
}

// Page header
.th-header {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100vw;
  background-color: $color-header;
  height: $header-height;
  border-bottom: 2px solid;
  span {
    margin: 0;
  }
}

// Main content
.th-content {
  position: fixed;
  width: 100vw;
  height: calc(100vh - #{$header-height});
  top: $header-height;
  overflow-y: scroll;
}

// Table (confirmation)
.th-table {
  width: 100%;
  //max-height: calc(100vh - 130px);
  //overflow-y: scroll;
  tbody {
    tr {
      .seat {
        background-color: #646464;
      }
      .viewer {
        background-color: rgb(153, 153, 153);
      }
      td p {
        text-align: left;
      }
    }
  }
}
