<!-- Landing page -->
<div class="overlay">

  <!-- Background for testing -->
  <app-bg-test></app-bg-test>

  <div class="th-screen-centered">
    <h1 class="th-font-main">
      <!--Todo: replace later with fancy animation! -->
      <span class="">Outer Edges</span>
    </h1>
    <p class="th-font-usual">
      Loading
    </p>
  </div>
</div>

<!-- Caching images -->
<div *ngIf="imagesToLoad > 0">
  <img *ngFor="let imageUrl of imagesUrls" src="{{imageUrl}}"
       alt="Couldn't load background '{{imageUrl}}' - backgroundImage" (load)="imageLoaded()" hidden>
</div>
