<div class="z-main cursor-pointer" [@fadeInLong] [@fadeOut] >

  <div class="fader-top"></div>


  <div class="fader-bottom"></div>
  <div class="layout-footer-center">
    <!--<div class="font-hint centered" (click)="showPerformance()">-->
    <!--{{'pages.home.hints.clickForTicket' | translate}}-->
    <!--</div>-->
  </div>

  <div class="content-container" >
    <h1 class="text-center" (click)="showPerformance()">{{data.performances[data.applicationStatus.selectedPerformance].title |
      uppercase}}</h1>
  </div>

  <div *ngIf="data.performancesIds.length &gt; 1" class="layout-center-6">
    <div class="sequence">
      <div *ngFor="let p of data.performancesIds; let id = index"
           (click)="data.applicationStatus.selectedPerformance = data.performancesIds[id]"
           class="sequence-сircle {{data.applicationStatus.selectedPerformance === data.performancesIds[id] ? 'selected' : ''}}"></div>
    </div>
  </div>
</div>
