<form (submit)="onSubmit()">
  <app-basic-page [menu]="false" [h]="[{label: 'Grani', type: 'h1'}, {label: 'Administration', type: 'h3'}]">
    <div class="text-center">

      <mat-form-field>
        <input matInput placeholder="Login" [formControl]="loginFC" [(ngModel)]="login" type="text">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" [formControl]="passwordFC" [(ngModel)]="password" type="password">
      </mat-form-field>
      <div class="text-center red">
        <p>{{error}}</p>
      </div>
    </div>
    <button class="footer" type="submit">Submit</button>
  </app-basic-page>
</form>
