.sequence {
  @include centered;
  .sequence-сircle {
    margin: 5px 125px;
    width: 15px;
    height: 15px;

    background-color: rgba(255, 255, 255, .27);

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .48);

    &.selected {
      @include rgba(bg, $color-accent, .46);
    }
  }
}
