@import '~styles.scss';

.th-dev-background {
  background-color: $background-color;
  height: 100%;
  width: 100%;
  position: fixed;
  text-align: center;
  line-height: 100vh;
  font-size: 10vw;
  z-index: -100;
  color: rgba(0, 0, 0, 0.13);
  top: 0;
}
