<div class="app-input-container {{class}} {{checkValidity()}}" [ngStyle]="style">
    <label for="{{name}}" class="{{isSelected ? 'selected' : ''}}" [@input]="getSelection()  ? 'selected' : 'rest'">{{name}}</label>
    <input type="text" class="{{isSelected ? 'selected' : ''}}" id="{{name}}"
           [@input-field]="getSelection() ? 'filled' : 'empty'"
           [ngModelOptions]="{standalone: true}" (focus)="selected(true)" (focusout)="selected(false)"
           [(ngModel)]="value" [pattern]="pattern" autocomplete="off" autocapitalize="off"/>
    <!--todo: error label hints-->
</div>
