<div class="shadow"></div>
<div class="z-main">
  <div class="fader-top"></div>
  <div class="layout-footer-center">
  </div>
  <div class="fader-bottom"></div>

  <div class="layout-top-center-m">
    <!--icon here-->
  </div>

  <div class="m-container text-center">
    <h2>{{'Sessions' | translate}}</h2>
    <h3>{{data.applicationStatus.selectedPerformance.title}}</h3>
    <div *ngFor="let session of this.data.applicationStatus.selectedPerformance.sessions; let id = index"
         class="session-m action"
         (click)="showSession(id)">
      <div class="session-time">{{session.date | date:'HH:mm':'+0100'}}</div>
      <hr>
      <div class="session-day">{{session.date | date:'dd/MM':'+0100'}}</div>
    </div>
  </div>
</div>

