/* Style specific element */
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow: hidden;
}

/* Buttons */
.th-button {
  padding: 0.3rem 1rem;
  border: none;
  color: white;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: background-color $transition-time, color $transition-time;
  -moz-transition: background-color $transition-time, color $transition-time;
  -ms-transition: background-color $transition-time, color $transition-time;
  -o-transition: background-color $transition-time, color $transition-time;
  transition: background-color $transition-time, color $transition-time;
  &:hover {
    background-color: $button-color;
  }
  &:focus {
    outline: none;
    -webkit-box-shadow: inset 0 0 15px -1px #929292;
    -moz-box-shadow: inset 0 0 15px -1px #929292;
    box-shadow: inset 0 0 15px -1px #929292;
  }
}

/* Links */
.th-link {
  font-size: 1.4rem;
  text-decoration-line: blink;
  padding: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  &:hover {
    text-decoration: none;
    background-color: #007bff;
    color: white;
  }
}

// Style for links with image and description
.th-image-description-link {
  //position: relative;
  //padding: 15px;
  //line-height: 50px;
}

// Table with vertical panels scrolling horizontally
.th-horizontal-table {
  background-color: #aaaaaa;
  color: white;
  min-height: calc(100vh - #{$header-height} + #{$section-title-height} + 2 * #{$section-title-margin});
  margin: 0 -#{$container-horizontal-padding} -#{$container-vertical-padding};
  overflow-x: scroll;
  white-space: nowrap;
  div {
    vertical-align: top;
    display: inline-table;
    width: 100%;
    max-width: 160px;
    height: 100%;
    background-color: #9d9d9d;
    &.wider {
      max-width: 350px;
      div {
        max-width: 330px;
      }
    }
    h3 {
      background-color: #414141;
      box-shadow: 0 15px 30px -15px white;
      font-size: 1.4rem;
      padding: 20px;
      color: #eaeaea;
    }
    div {
      background-color: transparent;
      a {
        display: block;
        position: relative;
      }
      div {
        display: block;
        position: relative;
      }
      .th-button {
        width: calc(100% + 20px);
        margin: -5px -10px 5px;
      }
    }
  }
}

// Page header
.th-header {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100vw;
  background-color: $header-color;
  height: $header-height;
  span {
    margin: 0;
  }
}

// Main content
.th-content {
  position: fixed;
  width: 100vw;
  height: calc(100vh - #{$header-height});
  top: $header-height;
  overflow-y: scroll;
}

// Table (confirmation)
.th-table {
  width: 100%;
  //max-height: calc(100vh - 130px);
  //overflow-y: scroll;
  tbody {
    tr {
      .seat {
        background-color: #646464;
      }
      .viewer {
        background-color: rgb(153, 153, 153);
      }
      td p {
        text-align: left;
      }
    }
  }
}