/* Fonts */
@font-face {
  font-family: stylishFont;
  src: url('/theater/assets/fonts/11431.ttf');
}
@font-face {
  font-family: mainFont;
  src: url('/theater/assets/fonts/Noteworthy-Bold.ttf');
}
@font-face {
  font-family: headerFont;
  src: url('/theater/assets/fonts/11431.ttf');
}

// Performance title on image
.th-font-xl {
  font-size: calc(3rem + 7vw);
  color: $color-font-xl;
  font-family: headerFont;
  text-shadow: 0 0 13px $color-font-xl-shadow;
}
// Page title
.th-font-page-title {
  margin: 2vh auto 3vh;
  font-size: 3rem;
  letter-spacing: 0.4em;
  font-weight: 700;
}
// Description subtitles, scene, loading subtitle (details on page content)
// Also used on Row Seats data
.th-font-big {

}
// Defines section header in page
.th-font-section-title {
  font-family: stylishFont;
  font-size: 2rem;
  min-height: 5vh;
  text-shadow: 0 0 16px black;
  color: $color-font-section-title;
  font-weight: 900;
  margin: 10vh 0 1vh;
  line-height: 5vh;
  letter-spacing: 0.3em;
}
// Performance description text, success contact data
.th-font-main {
  font-size: 1.2rem;
  color: $color-font-main;
  font-weight: 500;
}
// Days and times on session select
.th-font-date {

}
// Normal fonts
.th-font-usual {

}
/* Extra */
// font for header brand title
.th-font-brand {
  font-weight: 900;
  color: $color-brand;
  background-color: transparent;
  &:hover {
    background-color: transparent;
    color: black;
  }
  &:focus {
    outline: none;
    box-shadow: none;
    text-shadow: 0 0 10px #3b3b3b;
  }
}
