/* Describe positioning */
.th-screen-centered {
  position: fixed;
  width: 80vw;
  height: 40vh;
  left: 10vw;
  top: 30vh;
}

// Content container
.th-container {
  width: 80vw;
  left: 10vw;
  position: relative;
  text-align: center;
  padding: 10vh 0 5vh;
}

/* Alignment */
.th-align-left {
  float: left;
  margin-left: 10px;
}
.th-align-right {
  float: right;
  margin-right: 10px;
}

/* Visibility */
@media only screen and (max-width: 480px) {
  .hidden-sm {
    display: none;
  }
}