/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  body {
    overflow-y: scroll;
  }

  .th-font-page-title {
    margin: 1vh auto 3vh;
    font-size: 1.7rem;
  }

  // Page header
  .th-header {
    position: static;
    width: 100%;
    height: $header-height;
  }

  .title-image {
    position: fixed !important;
    height: 100% !important;
  }

  // Main content
  .th-content {
    position: static;
    width: 100%;
    top: 0;
    height: auto;
    margin-top: 0;
    overflow: auto;
  }

  .hidden-sm {
    display: none !important;
  }

  .th-table {
    margin: 0 -10vw;
    width: calc(100% + 20vw);
    tr {
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      .seat {
        padding: 3px 5px;
        min-width: 75px;
      }
      td p {
        margin: 5px;
      }
    }
  }

  // Table with vertical panels scrolling horizontally
  .th-horizontal-table {
    height: auto;
    margin: 0 -10vw 60px;
    div {
      height: 86vh;
      background-color: transparent;
      &.wider {
        max-width: 100vw;
        div {
          height: auto;
          max-width: 85vw;
        }
      }
    }
  }
}