.th-fixed-bottom-container {
  bottom: 20px;
  height: 60px;
  background-color: #fc1e1e;
  width: 100%;
  box-shadow: 0 0 10px black;
}

.th-fixed-bottom-bottom {
  height: 100%;
  border-radius: 0;
  font-size: 3vh;
  &:hover {
    filter: invert(100%);
  }
}

.th-button-type-standard {

}