<div class="shadow" [@fadeIn] [@fadeOut]></div>
<div class="z-main">

  <div class="fader-top"></div>
  <div class="fader-bottom"></div>

  <div class="m-container text-center">
    <h2>{{'pages.checkout.title' | translate}}</h2>

    <form class="checkouts">
      <div *ngFor="let option of checkoutOptions"
           class="checkout-option-m"
           (click)="onCheckoutSelected(option)">
        <label class="action">{{'pages.checkout.options.' + option + '.title' | translate}}
        </label>
        <!--todo: pre-->
        <div class="font-hint text-left">{{'pages.checkout.options.' + option + '.description' | translate}}</div>
      </div>
    </form>
  </div>
</div>
