@import "~styles.scss";

div
{
  line-height: 30px;
  color: black;
  // other
  cursor: default;
  &.cont {
    left: 0;
    position: relative;
    text-align: center;
    //other
    display: inline-block;
  }
  &.rowT {
    display: inline-block;
  }
  &.seat
  {
    width: 30px;
    height: 30px;
    margin: 0 2px;
    padding: 0 2px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    background-color: black;
    color: $color-font-section-title;
    &.available {
      cursor: pointer;
      &:hover {
        background-color: $color-seat-hovered;
      }
    }
    &.booked {
      background-color: $color-seat-booked;
      opacity: .3;
      color: black;
    }
    &.pending {
      background-color: $color-seat-pending;
      opacity: .3;
      color: black;
    }
    &.inactive {
      opacity: 0;
    }
    &.selected {
      background-color: $color-seat-selected;
    }
  }
  &.rowInfo
  {
    height: 30px;
    margin: 0;
    display: inline-block;
    text-align: center;
  }
}

.scene {
  text-align: center;
}

hr.invisible {
  opacity: 0;
  width: 80%;
  margin: 2px;
}

.anotherContainer {
  overflow-x: scroll;
  text-align: center;
  margin: 3vh 0 80px;
  padding: 0 30px;
}

.th-scene-header {
  margin-top: 2vh;
}