@import "~styles.scss";

div
{
  line-height: 30px;
  color: black;
  // other
  cursor: default;
  &.cont {
    left: 0;
    position: relative;
    text-align: center;
    //other
    display: inline-block;
  }
  &.rowT {
    display: inline-block;
  }
  &.seat
  {
    width: 30px;
    height: 30px;
    margin: 0 2px;
    padding: 0 2px;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    &.available {
      cursor: pointer;
      &:hover {
        background-color: #9ffcd5;
      }
    }
    &.booked {
      background-color: grey;
      opacity: .3;
    }
    &.pending {
      background-color: green;
      opacity: .3;
    }
    &.inactive {
      opacity: 0;
    }
    &.selected {
      background-color: #5a98fc;
    }
  }
  &.rowInfo
  {
    height: 30px;
    margin: 0;
    display: inline-block;
    text-align: center;
  }
}

.scene {
  text-align: center;
}

hr.invisible {
  opacity: 0;
  width: 80%;
  margin: 2px;
}

.anotherContainer {
  margin-top: 3vh;
  overflow-x: scroll;
  text-align: center;
  margin-bottom: 80px;
}

.th-scene-header {
  margin-top: 2vh;
}