<div class="scene" *ngIf="sessionData">
    <!-- Page title -->
    <h1 class="th-font-page-title">{{sessionData.performanceTitle | uppercase}}</h1>
    <h3 class="th-font-big">{{sessionData.sessionDateTime | date:['d. MMMM, EEEE, HH:mm'] | uppercase}}</h3>
    <div class="anotherContainer">
        <div class="cont" [style.width]="((34*getLongestRow())+75)+'px'">
            <div class="rowT" *ngFor="let row of sessionData.seats; let i = index"
                 [style.width]="(34*getLongestRow()+75)+'px'">
                <hr class="invisible">
                <div class="rowInfo">{{ sessionData.seats.length-i }}. ряд</div>
                <div class="seat" *ngFor="let seat of row; let j = index"
                     [ngClass]="getClass(i, j)" (click)="onSeatSelected($event, i, j)">{{j + 1}}
                </div>
            </div>
        </div>
    </div>
    <app-dialog-panel [buttons]="bottomPanelButtons" [position]="'fixed'"></app-dialog-panel>
</div>
