<!-- Landing -->
<app-landing *ngIf="!sectionsShown" (dataLoaded)="onDataLoaded()"></app-landing>

<!-- Header -->
<header *ngIf="sectionsShown" class="th-header">
  <!-- Navigate back button -->
  <span class="th-align-left th-button">
    <a class="th-image-description-link th-button" (click)="navigateBack()">
      <img src="../assets/arrowBack.svg" height="40" width="40" alt="goBack"/>
      <span>Back</span>
    </a>
  </span>
  <!-- Brand -->
  <span>Outer Edges</span>
  <!-- Login/Register -->
  <span *ngIf="!loggedIn" class="th-align-right">
    <button type="button" class="th-button">Login</button>
    <button type="button" class="th-button">Register</button>
  </span>
  <!-- Logout -->
  <span *ngIf="loggedIn" class="th-align-right">
    <span>Username</span>
    <button>Logout</button>
  </span>
</header>
<!-- Main Content -->
<section id="main-content">
  <!-- Background -->
  <app-bg-test></app-bg-test>
  <!-- Main content -->
  <router-outlet></router-outlet>

  <!-- Footer -->
  <footer *ngIf="sectionsShown" class="th-footer"></footer>
</section>
