<!-- Header -->
<header *ngIf="sectionsShown" class="th-header th-content-fit-height">
    <!-- Navigate back button -->
    <!--<span *ngIf="displayReturn()" class="th-align-left th-button">-->
        <!--<a class="th-image-description-link" (click)="navigateBack()">-->
          <!--<img src="../assets/arrowBack.svg" height="30" width="30" alt="goBack"/>-->
        <!--</a>-->
    <!--</span>-->

    <!-- Brand -->
    <button class="th-button th-font-brand" [routerLink]="['/performances']">Outer Edges</button>

    <!-- Login/Register -->
    <span *ngIf="!loggedIn" class="th-align-right">
    <button type="button" class="th-button">Login</button><button type="button" class="th-button">Register</button>
    </span>

    <!-- Logout -->
    <span *ngIf="loggedIn" class="th-align-right">
        <span>Username</span>
        <button type="button" class="th-button">Logout</button>
    </span>
</header>

<!-- Main Content -->
<section class="th-content">
    <!-- Background -->
    <app-bg-test></app-bg-test>
    <!-- Main content -->
    <router-outlet></router-outlet>
</section>

<!-- Landing -->
<app-landing *ngIf="!sectionsShown" (dataLoaded)="onDataLoaded($event)"></app-landing>