<div class="shadow"></div>
<div class="z-main" [@fadeIn] [@fadeOut]>
  <div class="fader-top"></div>
  <div class="fader-bottom"></div>
  <div class="content-container text-center">
    <h2>{{'pages.viewer.title' | translate}}</h2>
    <div class="offset">
      <form (submit)="onSubmit()">
        <app-input [ngModelOptions]="{standalone: true}" [name]="'forms.labels.name' | translate"
                   [(ngModel)]="data.applicationStatus.client.name"
                   [pattern]="nameRegex"
                   (validityChanged)="onNameValidated($event)"></app-input>
        <app-input [ngModelOptions]="{standalone: true}"
                   [name]="'forms.labels.contact' | translate"
                   [(ngModel)]="data.applicationStatus.client.contact"
                   [pattern]="contactRegex"
                   (validityChanged)="onContactValidated($event)"></app-input>
        <button type="submit" class="element-hidden"></button>
      </form>
    </div>

    <div class="submenu">
      <app-button-back [class]="'submenu-item'"></app-button-back>
      <label (click)="onSubmit()" class="action {{checkValidity() ? '' : 'disabled'}}">{{'global.next' | translate}}</label>
    </div>
  </div>
</div>

