@mixin fader($position, $value: .59) {
  position: fixed;
  width: 100%;
  height: 150px;
  left: 0;

  @if $position == bottom {
    bottom: 0;
    background: linear-gradient(transparent, rgba(0, 0, 0, $value));

  } @else {
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, $value), transparent);
  }
}

.fader-top {
  @include fader(top);

  &.more {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .8), transparent);
  }

  &.less {
    @include fader(top, .3);

  }

}

.fader-bottom {
  @include fader(bottom);

  &.more {
    background: linear-gradient(transparent, rgba(0, 0, 0, .8), rgba(0, 0, 0, 1));
  }

  &.less {
    @include fader(bottom, .3);
  }
}

.fader-bottom, .fader-top {
  pointer-events: none;
}

