.icon {
  width: 100px;
  height: 100px;
  &.huge {
    width: 40vw;
    height: 40vh;
  }
}

.icon-label {
  text-align: center;

  .icon {
    display: inline-block;
    margin-right: 20px;
  }
}


