.seat {
  margin: 0px 2px;
  color: rgba(255, 255, 255, 0.85);
  background-color: rgba(52, 52, 52, 0.68);
  display: inline-block;
  width: 25px;
  border: 1px solid black;
  border-radius: 5px;
  height: 25px;
  line-height: 22px;
  text-align: center;
  font-size: 14px;
  cursor: default;

  &.FREE {
    cursor: pointer;
    &:hover {
      @include rgba(bg, $color-accent, .42);
    }
  }

  &.SELECTED {
    background-color: $color-accent;
    &:hover {
    }
  }

  &.BOOKED {
    color: rgba(0, 0, 0, 0.85);
    background-color: rgba(255, 255, 255, 0.68);
    pointer-events: none;
  }

  &.HIDDEN {
    opacity: 0;
    pointer-events: none;
  }
}
