.session {
  margin: 0 50px 25px;
  display: inline-block;
  font-size: 47px;
  letter-spacing: 3px;

  > hr {
    border: 1px solid;
    border-radius: 5px;
    width: calc(100% + 50px);
    left: -25px;
    position: relative;
    margin: 0;
  }

}

.session-row {
  float: left;
  display: inline-block;
  width: 30px;
  text-align: right;
}

.session-container {
  max-width: 1280px;
}

.session-container-m {
  width: 1464px;
  transform: scale(0.2);
  left: -596px;
  margin: -50px 0 -125px;
  position: relative;
}
