.fader {
  .fd-top {
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,.5));
    height: 0;
    position: absolute;
  }

  > .fd-bottom {
    bottom: 0;
    z-index: 10;
    left: 0;
    position: absolute;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,.85));
  }

  > .fd-content {
    z-index: -10;

  }
}
