<div class="shadow"></div>
<div class="z-main">

  <div class="fader-top"></div>
  <div class="fader-bottom"></div>

  <div class="layout-top-center">
    <h2 class="centered text-center">{{'pages.checkout.title' | translate}}</h2>
  </div>

    <div class="centered text-center">
      <form>
        <div *ngFor="let option of checkoutOptions"
             class="checkout-option"
             (click)="onCheckoutSelected(option)">
          <label class="action">{{'pages.checkout.options.' + option + '.title' | translate}}
          </label>
          <div class="font-hint text-left">{{'pages.checkout.options.' + option + '.description' | translate}}</div>
          <!--<div class="font-hint text-left">{{'pages.checkout.options.' + option + '.description' | translate}}</div>-->
        </div>
      </form>
  </div>

  <app-button-back></app-button-back>

</div>
