<form class="th-container zero-padding-top" (ngSubmit)="onSubmit(personalDataForm)" #personalDataForm="ngForm">
    <h2 class="th-font-section-title" style="margin-top: 1vh">{{'pData.header' | translate | uppercase}}</h2>
    <!-- Session selection -->
    <div class="th-horizontal-table" *ngIf="personalData !== undefined && personalData.length" >
        <div *ngFor="let dataField of personalData; let id = index" class="wider" ngModelGroup="{{id}}">
            <h3 class="th-font-big">{{'row' | translate}}: {{maxRows - dataField.row}} {{'seat' | translate}}: {{dataField.seat + 1}}</h3>
            <div class="text-left">
                <button class="th-button" type="button" disabled>{{'pData.useMyData' | translate}}</button>
                <div class="form-group">
                    <label for="name">{{'pData.name' | translate}}</label>
                    <input class="form-control" type="text" placeholder="{{'pData.name' | translate}}" name="name" id="name" required
                           pattern="^(([a-z -'`A-Z]*)|([а-я -'`А-Я]*)|([a-z -'`A-ZěščřžýáíéúůĚŠČŘŽÝÁÍÉÚŮ]*))$"
                           [(ngModel)]="dataField.userData.name" #name="ngModel"/>
                    <div  *ngIf="name.invalid && name.touched"
                         class="th-error">
                        <pre *ngIf="name.errors.required">{{'pData.errors.required.name' | translate}}</pre>
                        <pre *ngIf="name.errors.pattern">{{'pData.errors.pattern.name' | translate}}</pre>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone">{{'pData.phone' | translate}}</label>
                    <input class="form-control" type="text" placeholder="{{'pData.phone' | translate}}" name="phone" id="phone" required
                           pattern="^((\+[0-9][0-9][0-9][ -]?)?[0-9][0-9][0-9][ -]?[0-9][0-9][0-9][ -]?[0-9][0-9][0-9])$"
                           [(ngModel)]="dataField.userData.phone" #phone="ngModel"/>
                    <div *ngIf="phone.invalid && phone.touched"
                         class="th-error">
                        <pre *ngIf="phone.errors.required">{{'pData.errors.required.phone' | translate}}</pre>
                        <pre *ngIf="phone.errors.pattern">{{'pData.errors.pattern.phone' | translate}}</pre>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">{{'pData.email' | translate}}</label>
                    <input class="form-control" type="text" placeholder="{{'pData.email' | translate}}" name="email" id="email" required
                           pattern="([a-zA-Z0-9.])*@([a-zA-Z])*\.([a-zA-Z])+$"
                           [(ngModel)]="dataField.userData.email" #email="ngModel"/>
                    <div *ngIf="email.invalid && email.touched"
                         class="alert th-error">
                        <pre *ngIf="email.errors.required">{{'pData.errors.required.email' | translate}}</pre>
                        <pre *ngIf="email.errors.pattern">{{'pData.errors.pattern.email' | translate}}</pre>
                    </div>
                </div>
                <p class="text-center">{{'pData.optional' | translate}}</p>
                <div class="form-group">
                    <label for="vk">{{'pData.vk' | translate}}</label>
                    <input class="form-control" type="text" placeholder="{{'pData.vk' | translate}}" name="vk" id="vk"
                           [(ngModel)]="dataField.userData.vk" #vk="ngModel"/>
                </div>
                <div class="form-group">
                    <label for="whatsApp">{{'pData.whatsApp' | translate}}</label>
                    <input class="form-control" type="text" placeholder="{{'pData.whatsApp' | translate}}" name="whatsApp" id="whatsApp"
                           [(ngModel)]="dataField.userData.whatsApp" #whatsApp="ngModel"/>
                </div>
                <div class="form-group">
                    <label for="viber">{{'pData.viber' | translate}}</label>
                    <input class="form-control" type="text" placeholder="{{'pData.viber' | translate}}" name="viber" id="viber"
                           [(ngModel)]="dataField.userData.viber" #viber="ngModel"/>
                </div>
                <div class="form-group">
                    <label for="telegram">{{'pData.telegram' | translate}}</label>
                    <input class="form-control" type="text" placeholder="{{'pData.telegram' | translate}}" name="telegram" id="telegram"
                           [(ngModel)]="dataField.userData.telegram" #telegram="ngModel"/>
                </div>
            </div>
        </div>
    </div>
    <!--<button class="th-button" type="submit">Confirm</button>-->
    <app-dialog-panel *ngIf="personalDataForm.valid" [buttons]="bottomPanelButtons"
                      [position]="'absolute'"></app-dialog-panel>
</form>




<!--<div class="th-container zero-padding-top">-->
<!--<h2 class="th-font-section-title" style="margin-top: 1vh">{{'pData.header' | translate | uppercase}}</h2>-->
<!--<div class="th-horizontal-table" *ngIf="personalData !== undefined && personalData.length">-->
<!--<div *ngFor="let dataField of personalData; let formId = index" class="wider">-->
<!--<form (ngSubmit)="onSubmit(personalDataForm)" #personalDataForm="ngForm" (change)="test(personalDataForm.valid, formId)"-->
<!--()>-->
<!--<h3 class="th-font-big">{{'row' | translate}}: {{dataField.row}} {{'seat' | translate}}:-->
<!--{{dataField.seat}}</h3>-->
<!--<div class="text-left">-->
<!--<button class="th-button" type="button" disabled>{{'pData.useMyData' | translate}}</button>-->
<!--<div class="form-group">-->
<!--<label for="name">{{'pData.name' | translate}}</label>-->
<!--<input class="form-control" type="text" placeholder="{{'pData.name' | translate}}"-->
<!--name="name"-->
<!--id="name" required-->
<!--pattern="^(([a-z -'`A-Z]*)|([а-я -'`А-Я]*)|([a-z -'`A-ZěščřžýáíéúůĚŠČŘŽÝÁÍÉÚŮ]*))$"-->
<!--[(ngModel)]="dataField.userData.name" #name="ngModel"/>-->
<!--<div *ngIf="name.invalid && name.touched"-->
<!--class="th-error">-->
<!--<pre *ngIf="name.errors.required">{{'pData.errors.required.name' | translate}}</pre>-->
<!--<pre *ngIf="name.errors.pattern">{{'pData.errors.pattern.name' | translate}}</pre>-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="phone">{{'pData.phone' | translate}}</label>-->
<!--<input class="form-control" type="text" placeholder="{{'pData.phone' | translate}}"-->
<!--name="phone"-->
<!--id="phone" required-->
<!--pattern="^((\+[0-9][0-9][0-9][ -]?)?[0-9][0-9][0-9][ -]?[0-9][0-9][0-9][ -]?[0-9][0-9][0-9])$"-->
<!--[(ngModel)]="dataField.userData.phone" #phone="ngModel"/>-->
<!--<div *ngIf="phone.invalid && phone.touched"-->
<!--class="th-error">-->
<!--<pre *ngIf="phone.errors.required">{{'pData.errors.required.phone' | translate}}</pre>-->
<!--<pre *ngIf="phone.errors.pattern">{{'pData.errors.pattern.phone' | translate}}</pre>-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="email">{{'pData.email' | translate}}</label>-->
<!--<input class="form-control" type="text" placeholder="{{'pData.email' | translate}}"-->
<!--name="email"-->
<!--id="email" required-->
<!--pattern="([a-zA-Z0-9.])*@([a-zA-Z])*\.([a-zA-Z])+$"-->
<!--[(ngModel)]="dataField.userData.email" #email="ngModel"/>-->
<!--<div *ngIf="email.invalid && email.touched"-->
<!--class="alert th-error">-->
<!--<pre *ngIf="email.errors.required">{{'pData.errors.required.email' | translate}}</pre>-->
<!--<pre *ngIf="email.errors.pattern">{{'pData.errors.pattern.email' | translate}}</pre>-->
<!--</div>-->
<!--</div>-->
<!--<p class="text-center">{{'pData.optional' | translate}}</p>-->
<!--<div class="form-group">-->
<!--<label for="vk">{{'pData.vk' | translate}}</label>-->
<!--<input class="form-control" type="text" placeholder="{{'pData.vk' | translate}}" name="vk"-->
<!--id="vk"-->
<!--[(ngModel)]="dataField.userData.vk" #vk="ngModel"/>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="whatsApp">{{'pData.whatsApp' | translate}}</label>-->
<!--<input class="form-control" type="text" placeholder="{{'pData.whatsApp' | translate}}"-->
<!--name="whatsApp" id="whatsApp"-->
<!--[(ngModel)]="dataField.userData.whatsApp" #whatsApp="ngModel"/>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="viber">{{'pData.viber' | translate}}</label>-->
<!--<input class="form-control" type="text" placeholder="{{'pData.viber' | translate}}"-->
<!--name="viber"-->
<!--id="viber"-->
<!--[(ngModel)]="dataField.userData.viber" #viber="ngModel"/>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="telegram">{{'pData.telegram' | translate}}</label>-->
<!--<input class="form-control" type="text" placeholder="{{'pData.telegram' | translate}}"-->
<!--name="telegram" id="telegram"-->
<!--[(ngModel)]="dataField.userData.telegram" #telegram="ngModel"/>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--<app-dialog-panel *ngIf="formValid" [buttons]="bottomPanelButtons"-->
<!--[position]="'absolute'"></app-dialog-panel>-->
<!--</div>-->


