<div class="th-container">
    <h1 class="th-font-page-title">Confirmation</h1>
    <table class="th-table">
        <tr *ngFor="let data of confirmationData">
            <td class="seat">
                <span>{{'Row: ' + data.seat.row}}<br>{{' Seat: ' + data.seat.seat}}</span>
            </td>
            <td class="viewer">
                <p>Name: {{data.userData.name}}</p>
                <p>Phone: {{data.userData.phone}}</p>
                <p>Email: {{data.userData.email}}</p>
                <p *ngIf="data.userData.vk">VK: {{data.userData.vk}}</p>
                <p *ngIf="data.userData.whatsApp">WhatsApp: {{data.userData.whatsApp}}</p>
                <p *ngIf="data.userData.viber">Viber: {{data.userData.viber}}</p>
                <p *ngIf="data.userData.telegram">Telegram: {{data.userData.telegram}}</p>
            </td>
        </tr>
    </table>
</div>
<app-dialog-panel [buttons]="bottomPanelButtons"></app-dialog-panel>
