/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow-x: hidden;
}

/* Alignment */
.th-align-left {
  float: left;
  margin-left: 10px;
}

.th-align-right {
  float: right;
  margin-right: 10px;
}

/* Button style */
.th-header-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: $color-dark;
    color: white;
    a > img {
      filter: invert(100%);
    }
  }
}

.th-button {
  width: 200px;
  height: 40px;
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
  -webkit-box-shadow: 0 5px 10px -3px black;
  box-shadow: 0 5px 10px -3px black;
  cursor: pointer;
}

.th-button-float-bottom {
  left: calc(50% - 100px);
  bottom: 30px;
  position: fixed;
  z-index: 10;

}

  /* Style for links with image and description */
.th-image-description-link {
  position: relative;
  padding: 15px;
  line-height: 50px;
}

@media only screen and (max-width: 480px) {
  .hidden-sm {
    display: none;
  }
}