<form class="th-container zero-padding-top" (ngSubmit)="onSubmit()" #personalDataForm="ngForm">
    <h2 class="th-font-section-title" style="margin-top: 1vh">{{'Personal information' | uppercase}}</h2>
    <!-- Session selection -->
    <div class="th-horizontal-table" *ngIf="seats">
        <div *ngFor="let seat of seats" class="wider">
            <h3 class="th-font-big">{{'Row: ' + seat.row + ' Seat: ' + seat.seat}}</h3>
            <div class="text-left">
                <button class="th-button" type="button">Use my user data</button>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" placeholder="Name" name="name" id="name"
                           [value]="testModel" (input)="onInput($event)"/>
                    <p>{{testModel}}</p>
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input class="form-control" type="text" placeholder="Phone" name="phone" id="phone"/>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" type="text" placeholder="Email" name="email" id="email"/>
                </div>
                <div class="form-group">
                    <label for="vk">VK</label>
                    <input class="form-control" type="text" placeholder="VK" name="vk" id="vk"/>
                </div>
                <div class="form-group">
                    <label for="whatsApp">WhatsApp</label>
                    <input class="form-control" type="text" placeholder="WhatsApp" name="whatsApp" id="whatsApp"/>
                </div>
                <div class="form-group">
                    <label for="viber">Viber</label>
                    <input class="form-control" type="text" placeholder="Viber" name="viber" id="viber"/>
                </div>
                <div class="form-group">
                    <label for="telegram">Telegram</label>
                    <input class="form-control" type="text" placeholder="Telegram" name="telegram" id="telegram"/>
                </div>
            </div>
        </div>
    </div>
    <app-dialog-panel *ngIf="displaySome" [buttons]="bottomPanelButtons" [align]="'bottom'" [position]="'absolute'"></app-dialog-panel>
</form>
