@import "~styles.scss";

.performance-image {
  width: 70%;
  height: 0%;
  margin: 5vh 0 10vh;
  border: 10px solid black;
  box-shadow: 0 0 30px -5px;
  cursor: pointer;
}

.performance-title {
  position: relative;
  top: -30vw;
  cursor: pointer;
}
